{% load static %} {% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Cauliflower AI{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" />
  </head>
  <body class="bg-gray-50 text-gray-900">
    {% block content %}{% endblock %} {% include "components/footer.html" %} {%
    django_browser_reload_script %}
  </body>
</html>
